<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrator control panel</title>
</head>
<body>
<h2>Administrator panel</h2>
<div>
    <h3>Galleries</h3>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="gallery:${photoGalleryList}">
            <td th:text="${gallery.id}"></td>
            <td th:text="${gallery.owner.username}"></td>
            <td><a th:href="@{/admin/addPhotos/{galleryId}(galleryId=${gallery.id})}">Add photos</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <h3>Add gallery</h3>
    <form id="addGallery" name="addGallery" method="post" th:action="@{/admin/addGallery}" th:object="${photoGallery}"
          enctype="multipart/form-data">
        <div>
            <label>Select user to create gallery:</label>
            <select th:field="*{owner.username}">
                <option th:each="user:${userList}"
                        th:value="${user.username}"
                        th:text="${user.username}"></option>
            </select>
        </div>
        <button type="submit">Create gallery</button>
    </form>
</div>

<div>
    <h3>Create user</h3>
    <form id="addUser" name="addUser" method="post" th:action="@{/admin/addUser}" th:object="${user}">
        <div>
            <label>Enter Username:</label>
            <input type="text" th:field="${user.username}">
        </div>
        <div>
            <label>Enter user password:</label>
            <input type="password" th:field="${user.password}">
        </div>
        <button type="submit">Create user</button>
    </form>
</div>
</body>
</html>